window.OSD {
  box.OSD {
    border-radius: $rounding*2;
    background-color: $base01;
    padding: 13px 16px;
    margin: 13px;
    box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
  }

  icon {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }

  levelbar {
    border-radius: $rounding;
    min-width: 8px;
    min-height: 8px;
    background-color: $base02;

    trough {
      margin: 4px;
      color: $base02;
    }

    block {
      min-height: 8px;
      min-width: 8px;
      border-radius: $rounding;
      background-color: $base02;
      &.filled {
        background-color: $accent;
      }
    }
  }
}
