window {
    all: unset;
}

box.MediaPlayer {
  padding: 8px;
  margin: 16px;
  background-color: $base01;
  box-shadow: 3px 3px 7px 0 rgba(0,0,0,.4);
  border-radius: $rounding*2;

  box.cover-art {
    min-width: 120px;
    min-height: 120px;
    border-radius: $rounding*2;
    margin-right: 8px;
    background-size: contain;
    background-position: center;
  }

  box.title {
    label {
      font-weight: bold;
      font-size: 16px;
    }
  }

  slider {
    min-height: 4px;
    border-radius: $rounding;
    background-color: $accent;
  }

  trough {
    margin: 8px;
    min-height: 4px;
    border-radius: $rounding;
    background-color: $base02;
  }

  highlight {
    min-height: 4px;
    border-radius: $rounding;
    background-color: $accent;
  }

  centerbox.actions {
    min-width: 220px;

    button {
      min-width: 16px;
      min-height: 0;
      padding: 4px;
      margin: 0 2px;
      background-color: $base02;
      &:hover {
        background-color: $base04;
      }
      label {
        color: $accent;
      }
    }

  }
}

.dropdownskipprevious {
  border-radius: $rounding*2 $rounding $rounding $rounding*2;
}

.dropdownplaybackstatus {
  border-radius: $rounding;
}

.dropdownskipnext {
  border-radius: $rounding $rounding*2 $rounding*2 $rounding;
}
